@font-face {
  font-family: "Rockinline";
  src: url("../assets/fonts/Rockinline.ttf") format("truetype");
}

@font-face {
  font-family: "Squealer";
  src: url("../assets/fonts/Squealer.otf") format("opentype");
}

@font-face {
  font-family: "Rock";
  src: url("../assets/fonts/Methrock.otf") format("opentype");
}
