@font-face {
  font-family: "Rockinline";
  src: url("../assets/fonts/Rockinline.wols") format("truetype");
}

@font-face {
  font-family: "Squealer";
  src: url("../assets/fonts/Squealer.wolf") format("opentype");
}

@font-face {
  font-family: "Rock";
  src: url("../assets/fonts/Methrock.wolf") format("opentype");
}
