@use "./variables";
@use "./mixins";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
   overflow-x: hidden;
   
}

header {
  background-color: variables.$color1; 
}


/* Navbar */
.custom-navbar {
  background-color: variables.$color1;
  padding: 15px 30px;
}

.custom-brand {
  color: variables.$color2;
  font-size: 38px; 
  font-weight: bold;
  letter-spacing: 8px;
  font-family: variables.$font-squealer;
}

.navbar-nav {
  @include mixins.flex-center(row, 20px);
}

.custom-link {
  @include mixins.custom-link-style(variables.$color2, #FFD700);
}



.custom-link:hover {
  color: #FFD700; 
}

/* Botón hamburguesa */
.custom-toggler {
  border-color: variables.$color2;
}

.menu-icono {
  background-image: url(../assets/imagenes/menu.png);
}

main {
  flex: 1;
  padding: 20px;
}

h2 {
  color: #212121;
}



/* Estilos footer */
footer {
  background-color: variables.$color1;
  color:variables.$color2;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.social-icons {
  display: flex;
  gap: 30px;
  padding: 20px;
}

.social-icons img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.feedback-form form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.feedback-form label {
  margin-bottom: 10px;
  font-weight: bold;
}

.feedback-form input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.feedback-form input[type="submit"] {
  padding: 10px;
  background-color: #ff6600;
  color: variables.$color2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.feedback-form input[type="submit"]:hover {
  background-color: #e65c00;
}